<mat-card>
    <div class="bootstrap-wrapper">
        <div class="container table-responsive">
            <table  class="table table-striped table-bordered row-border hover" datatable >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Valor</th>
                    <th>Cuenta</th>
                    <th>Categoria</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let transaccion of transacciones" >
                    <tr>
                      <td>{{transaccion.transaccionId}}</td>
                      <td>{{formatearFecha(transaccion.fecha)}}</td>
                      <td>{{transaccion.descripcion}}</td>
                      <td>{{transaccion.valor}}</td>
                      <td>{{transaccion.cuenta.cuentaId}}. {{transaccion.cuenta.titulo}}</td>
                      <td>{{transaccion.categoria.categoriaId}}. {{transaccion.categoria.titulo}}</td>
                      <td>
                        <button routerLink="/user/cuenta-edit/{{transaccion.transaccionId}}" mat-icon-button class="example-icon ">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button routerLink="/user/cuenta-view/{{transaccion.transaccionId}}" mat-icon-button class="example-icon" >
                          <mat-icon>remove_red_eye</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
        </div>
    </div>
</mat-card>