<mat-card>
    <app-titulo-agregar [linkUrl] ="'/user/transaccion'" [nombreTitulo] ="'Editar Transacción'"> </app-titulo-agregar>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <mat-card-content>
                    <div class="bootstrap-wrapper">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <form (ngSubmit)="formSubmit()">
                                    <mat-form-field class="w100" appearance="outline">
                                        <mat-label> Descripción </mat-label>
                                        <textarea 
                                            name="descripcion" 
                                            matInput
                                            [(ngModel)] ="transaccion.descripcion"
                                            placeholder="Ingrese la descripción"
                                            rows="5">
                                        </textarea>
                                    </mat-form-field>
                                    <mat-form-field class="w100" appearance="outline">
                                        <mat-label> Valor </mat-label>
                                        <input 
                                            type="number"
                                            required 
                                            autofocus
                                            name="valor"
                                            [(ngModel)] ="transaccion.valor"
                                            matInput
                                            placeholder="Ingresa el valor">
                                    </mat-form-field>
                                    <div class="container text-center mt15">
                                        <a class="mr-2" routerLink="/user/transaccion" color="warn" mat-raised-button>Cancel</a>
                                        <span></span>
                                        <button mat-raised-button color="primary">Editar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
          </div>
        </div>
    </mat-card-content>
</mat-card>